body{
    background-color: black;
}
.nav-link:hover{
color: greenyellow;
}
.nav-link{
    color:rgb(114, 127, 131)
}
.active-link{
    color:beige;
}
.navbar-brand{
    margin-top: 10px;
}
.nav-list{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-items{

    margin:15px;
}


